* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: none;
  border-bottom: none;
}

#workspaces button.focused,
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: none;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  margin: 0;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: rgba(0, 0, 0, 0);
}

#battery.charging,
#battery.plugged {
  color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#pulseaudio {
  min-width: 60px;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: transparent;
}

#tray > * > * > * {
  background-color: black;
}

#tray:not(#tray) * {
  background-color: #2d3436;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: #d9ff00;
  color: #2d3436;
}

* {
  background-color: transparent;
}
